In [95]:
import pandas as pd

In [96]:
pokemon = pd.read_csv("Pokemon.csv")

In [97]:
pokemon = pokemon.iloc[:,1:]
pokemon = pokemon.drop(columns=["Type 2"])
pokemon

,Name,Type 1,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Mega
0,Bulbasaur,Grass,318,45,49,49,65,65,45,1,No,No
1,Ivysaur,Grass,405,60,62,63,80,80,60,1,No,No
2,Venusaur,Grass,525,80,82,83,100,100,80,1,No,No
3,VenusaurMega Venusaur,Grass,625,80,100,123,122,120,80,1,No,Yes
4,Charmander,Fire,309,39,52,43,60,50,65,1,No,No
...,...,...,...,...,...,...,...,...,...,...,...,...
795,Diancie,Rock,600,50,100,150,100,150,50,6,Yes,No
796,DiancieMega Diancie,Rock,700,50,160,110,160,110,110,6,Yes,Yes
797,HoopaHoopa Confined,Psychic,600,80,110,60,150,130,70,6,Yes,No
798,HoopaHoopa Unbound,Psychic,680,80,160,60,170,130,80,6,Yes,No
799,Volcanion,Fire,600,80,110,120,130,90,70,6,Yes,No

In [98]:
gen_list = pokemon.loc[:,"Generation"].unique()
gen_list

array([1, 2, 3, 4, 5, 6], dtype=int64)

In [99]:
pokemon = pokemon.loc[(pokemon["Total"]>=500)&(pokemon["Legendary"] =="No")&(pokemon["Mega"]=="No")].reset_index()
pokemon = pokemon.iloc[:,1:]
pokemon

,Name,Type 1,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Mega
0,Venusaur,Grass,525,80,82,83,100,100,80,1,No,No
1,Charizard,Fire,534,78,84,78,109,85,100,1,No,No
2,Blastoise,Water,530,79,83,100,85,105,78,1,No,No
3,Nidoqueen,Poison,505,90,92,87,75,85,76,1,No,No
4,Nidoking,Poison,505,81,102,77,85,75,85,1,No,No
...,...,...,...,...,...,...,...,...,...,...,...,...
138,Hawlucha,Fighting,500,78,92,75,74,63,118,6,No,No
139,Carbink,Rock,500,50,50,150,50,150,50,6,No,No
140,Goodra,Dragon,600,90,100,70,110,150,80,6,No,No
141,Avalugg,Ice,514,95,117,184,44,46,28,6,No,No
142,Noivern,Flying,535,85,70,80,97,80,123,6,No,No